services:
  coordinator-server:
    image: apache/fluss:${FLUSS_DOCKER_VERSION}
    command: coordinatorServer
    depends_on:
      - zookeeper
    environment:
      - |
        FLUSS_PROPERTIES=
        zookeeper.address: zookeeper:2181
        bind.listeners: FLUSS://coordinator-server:9123
        remote.data.dir: /remote-data
    volumes:
      - fluss-remote-data:/remote-data
  tablet-server:
    image: apache/fluss:${FLUSS_DOCKER_VERSION}
    command: tabletServer
    depends_on:
      - coordinator-server
    environment:
      - |
        FLUSS_PROPERTIES=
        zookeeper.address: zookeeper:2181
        bind.listeners: FLUSS://tablet-server:9123
        data.dir: /tmp/fluss/data
        remote.data.dir: /remote-data
    volumes:
      - fluss-remote-data:/remote-data
  zookeeper:
    restart: always
    image: zookeeper:3.9.2
  jobmanager:
    image: flink:${FLINK_VERSION}
    ports:
      - "8081:8081"
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    entrypoint: ["sh", "-c", "cp -v /tmp/lib/*.jar /opt/flink/lib && exec /docker-entrypoint.sh jobmanager"]
    volumes:
      - ./lib:/tmp/lib
      - fluss-remote-data:/remote-data
  taskmanager:
    image: flink:${FLINK_VERSION}
    depends_on:
      - jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
    entrypoint: ["sh", "-c", "cp -v /tmp/lib/*.jar /opt/flink/lib && exec /docker-entrypoint.sh taskmanager"]
    volumes:
      - ./lib:/tmp/lib
      - fluss-remote-data:/remote-data
  sql-client:
    image: flink:${FLINK_VERSION}
    depends_on:
      - jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        rest.address: jobmanager
    entrypoint: ["sh", "-c", "cp -v /tmp/lib/*.jar /opt/flink/lib && exec /docker-entrypoint.sh bin/sql-client.sh"]
    volumes:
      - ./lib:/tmp/lib
      - fluss-remote-data:/remote-data

volumes:
  fluss-remote-data:
