{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "fluss.fullname" . }}-metadata-reader
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "fluss.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["discovery.k8s.io"]
    resources: ["endpointslices"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "fluss.fullname" . }}-metadata-reader
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "fluss.labels" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ include "fluss.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "fluss.fullname" . }}-metadata-reader
{{- end -}}
