#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: coordinator-server
  labels:
  {{- include "fluss.labels" . | nindent 4 }}
spec:
  serviceName: coordinator-server-hs
  replicas: {{ .Values.coordinator.numberOfReplicas }}
  selector:
    matchLabels:
      {{- include "fluss.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: coordinator
  template:
    metadata:
      labels:
        {{- include "fluss.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: coordinator
    spec:
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ .Values.serviceAccount.name | default (include "fluss.fullname" .) }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}-coordinator
          image: "{{.Values.image.repository}}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          ports:
            - name: internal
              containerPort: {{ .Values.listeners.internal.port }}
            - name: client
              containerPort: {{ .Values.listeners.client.port }}
          command:
            - "/bin/sh"
            - "-c"
            - |
              export FLUSS_SERVER_ID=${POD_NAME##*-} && \
              cp /opt/conf/server.yaml $FLUSS_HOME/conf && \

              BIND_LISTENERS="INTERNAL://${POD_IP}:{{ .Values.listeners.internal.port }}, CLIENT://${POD_IP}:{{ .Values.listeners.client.port }}" && \
              ADVERTISED_LISTENERS="CLIENT://${POD_NAME}.coordinator-server-hs.${POD_NAMESPACE}.svc.cluster.local:{{ .Values.listeners.client.port }}" && \

              echo "" >> $FLUSS_HOME/conf/server.yaml && \
              echo "bind.listeners: ${BIND_LISTENERS}" >> $FLUSS_HOME/conf/server.yaml && \
              echo "advertised.listeners: ${ADVERTISED_LISTENERS}" >> $FLUSS_HOME/conf/server.yaml && \
              echo "security.protocol.map: INTERNAL:{{ upper .Values.listeners.internal.protocol }},CLIENT:{{ upper .Values.listeners.client.protocol }}" >> $FLUSS_HOME/conf/server.yaml && \

              {{- if (include "fluss.sasl.enabled" .) }}
              echo "security.sasl.enabled.mechanisms: PLAIN" >> $FLUSS_HOME/conf/server.yaml && \
              {{ if eq (include "fluss.listener.sasl.enabled" (dict "root" . "listener" "internal")) "true" }}
              echo "client.security.protocol: SASL" >> $FLUSS_HOME/conf/server.yaml && \
              echo "client.security.sasl.mechanism: {{ include "fluss.listener.sasl.mechanism" (dict "root" . "listener" "internal") }}" >> $FLUSS_HOME/conf/server.yaml && \
              {{ end }}
              export FLUSS_ENV_JAVA_OPTS="-Djava.security.auth.login.config=/etc/fluss/conf/jaas.conf ${FLUSS_ENV_JAVA_OPTS}" && \
              {{- end }}

              bin/coordinator-server.sh start-foreground
          livenessProbe:
            failureThreshold: 100
            timeoutSeconds: 1
            initialDelaySeconds: 10
            periodSeconds: 3
            tcpSocket:
              port: {{ .Values.listeners.client.port }}
          readinessProbe:
            failureThreshold: 100
            timeoutSeconds: 1
            initialDelaySeconds: 10
            periodSeconds: 3
            tcpSocket:
              port: {{ .Values.listeners.client.port }}
          resources:
            {{- toYaml .Values.resources.coordinatorServer | nindent 12 }}
          volumeMounts:
            - name: fluss-conf
              mountPath: /opt/conf
            - name: data
              mountPath: /tmp/fluss/data
            {{- if (include "fluss.sasl.enabled" .) }}
            - name: sasl-config
              mountPath: /etc/fluss/conf
              readOnly: true
            {{- end }}
      volumes:
        - name: fluss-conf
          configMap:
            name: fluss-conf-file
        {{- if not .Values.coordinator.storage.enabled }}
        - name: data
          emptyDir: {}
        {{- end }}
        {{- if (include "fluss.sasl.enabled" .) }}
        - name: sasl-config
          secret:
            secretName: {{ include "fluss.fullname" . }}-sasl-jaas-config
        {{- end }}
  {{- if .Values.coordinator.storage.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: {{ .Values.coordinator.storage.size }}
        storageClassName: {{ .Values.coordinator.storage.storageClass }}
  {{- end}}
